.slider{
  max-width : 100%;
  margin : 0 auto;
  height : 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  background-color: black;
}

img{
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}

.card{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-left{
  position: absolute;
  margin-left : 0;
}

.btn-right{
  position: absolute;
  margin-left: 90%;
}

.btn{
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.404);
  width: 150px;
  cursor: pointer;
  border: none;
  font-size: black;
  color: white;
  outline: none;
  opacity: 0.1;
  transition: 0.3s;
}
.btn:hover{
  opacity: 1;
}

.quote{
  position: absolute;
  color : white;
  padding: 100px 100px;
  margin-left: 15%;
  max-width : 40%;
  font-size: 4rem;
}

@media only screen and (min-width:300px) and (max-width : 500px){
  .quote{
    font-size: 2rem;
  }

  .img{
    min-height: 100%;
    width: auto;
    object-fit: none;
  }
}